@using Unify.Framework.Web
@{
    this.ClearLayoutIfPartial();
    ViewBag.Title = Html.Title(TitleResources.SqlAccessDeniedTitle);
}

<h2>@SharedResources.AccessDeniedHeading</h2>

@SharedResources.SQLAccessDeniedMessage

