<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mms_Metaverse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mms_Metaverse.Properties.Settings>
            <setting name="ActiveMAs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DBB</string>
                        <string>DBB Contacts</string>
                        <string>DerivedADS.group Updater</string>
                        <string>DerivedADS.nestedGroup Updater</string>
                        <string>NASS</string>
                        <string>CAPS Payroll</string>
                        <string>Legacy Exchange - migrated mailboxes</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UPN" serializeAs="String">
                <value>dbb.local</value>
            </setting>
            <setting name="ExchangeMBXDNs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CN=Normal Mailboxes (A-G),CN=Storage Group 1,CN=InformationStore,CN=OCCCP-EX001,CN=Servers,CN=Curia,CN=Administrative Groups,CN=Diocese Of Broken Bay,CN=Microsoft Exchange,CN=Services,CN=Configuration,DC=dbb,DC=local</string>
                        <string>CN=Normal Mailboxes (H-O),CN=Storage Group 1,CN=InformationStore,CN=OCCCP-EX001,CN=Servers,CN=Curia,CN=Administrative Groups,CN=Diocese Of Broken Bay,CN=Microsoft Exchange,CN=Services,CN=Configuration,DC=dbb,DC=local</string>
                        <string>CN=Normal Mailboxes (P-Z),CN=Storage Group 1,CN=InformationStore,CN=OCCCP-EX001,CN=Servers,CN=Curia,CN=Administrative Groups,CN=Diocese Of Broken Bay,CN=Microsoft Exchange,CN=Services,CN=Configuration,DC=dbb,DC=local</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultUserPassword" serializeAs="String">
                <value>01011900</value>
            </setting>
            <setting name="maxSAMAccountNameLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="maxSAMAccountNameRetries" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OrganisationOUs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Office of the Bishop</string>
                        <string>Centacare</string>
                        <string>Parishes</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DisabledUserAccountsOU" serializeAs="String">
                <value>OU=Disabled User Accounts,OU=Global Accounts,DC=dbb,DC=local</value>
            </setting>
            <setting name="ORAddress" serializeAs="String">
                <value>X400:c=US;a= ;p=Exchange5.5;o=NT4DOMAIN;s</value>
            </setting>
            <setting name="GroupsOU" serializeAs="String">
                <value>OU=Security,OU=Groups,DC=dbb,DC=local</value>
            </setting>
            <setting name="StaffOU" serializeAs="String">
                <value>OU=Staff,OU=Users,OU=Diocese,DC=dbb,DC=local</value>
            </setting>
        </Mms_Metaverse.Properties.Settings>
    </applicationSettings>
</configuration>