# Ignore file for Visual Studio 2008


# Ignore these directories
bin/
CVS/
obj/
[Rr]elease*/
_ReSharper*/

# Ignore these files
[Bb]uild[Ll]og.*
*~
.\#*
*.bak
*.ncb
*.obj
*.pdb
*.suo
*.swp
*.user
Source/Connector/Unify.UnitTest.Connector/App.config
Source/ChangesRegister/Unify.UnitTest.Repository.ChangesRegister.Sql/App.config
Source/Data/Unify.UnitTest.Data.SqlServer/Unify.UnitTest.Data.SqlServer.config
Source/Entity/Unify.UnitTest.Repository.Entity/App.config
Source/ObjectVault/Unify.UnitTest.ObjectVault/App.config
Source/StoredValues/Unify.UnitTest.StoredValues/App.config
Source/Data/Unify.UnitTest.Data.SqlServer/App.config
Source/Unify.Framework.Core.config
Staff FIM Solution/scripts/EventBroker/Halt-ThresholdExceeded - Copy.ps1
Staff FIM Solution/scripts/FIM Object Visualizer/Reports/Data/CSO.Custom.xml
VIS/Documentor/GenerateDoc.2015-12-22.log
/Staff FIM Solution/FIMSync/Extensions
/.vs
/Staff FIM Solution/scripts/HTA/Set-MissingUSINs - Lucy.hta
/Staff FIM Solution/scripts/HTA/Set-MissingUSINs.Experimental.hta
/SAS2IDM/.vs/VSWorkspaceState.json
/SAS2IDM/.vs/slnx.sqlite
