@using Unify.Connect.Web.Extensions
@model string

<table>
    <tr>
        <td style="min-width: 150px">@AgentResources.DatabaseAgentDisplayConnectionStringLabel</td>
        <td>@Model</td>
    </tr>
</table>