@using Unify.Connect.Web.Extensions
@using Unify.Product.IdentityBroker

@model AdapterEntityTransformationNoSchemaContribution

@Html.HiddenFor(model => model.TransformationId)
<p>@AdapterResources.TransformationModifiesNoFieldsMessage</p>