@model DateSchemaFieldDefinitionInformation
@using Unify.Framework.Web

@{
    string createOrEditSchemaRowText = RenderExtensions.SimpleCreateOrEditText(Model.Edit);

    ViewBag.Title = Html.Title(TitleResources.DateRangeEntitySchemaValidatorTitleTemplate, createOrEditSchemaRowText);
    
    Html.RenderAction("SchedulesHeader", "Schedules", new {area = "Framework"});
}

<div>

@using (Html.DecorateForm(
            () => Html.BeginForm("DateRangeEntitySchemaValidator", "Connector", new {connectorId = Model.ConnectorId}, FormMethod.Post, new{id="DateRangeEntitySchemaValidatorForm"}),
            WebStudioResources.SaveText,
            "DateRangeEntitySchemaValidatorForm",
            ConnectorControllerResources.SaveFieldDefinitionAltText
            ))
{
    @Html.EditorFor(model => model, "RenderEntitySchemaCoreValidatorAttributes")
    @Html.EditorFor(model => model, "RenderEntitySchemaDateRangeValidatorAttributes")
}

</div>