@model StatisticsDeleteJobViewInformation
           
<div>   
    <h3>@ConnectorControllerResources.DeleteEntitiesHeadingText</h3>
    <div>
        @Html.DisplayFor(model => model, "TalliedConnectorStatisticsConfiguration")
        @Html.DisplayFor(model => model, "ConnectorStatisticsConfiguration")
    </div>
</div>