@model StatisticsSaveJobViewInformation

<div>   
    <h3>@ConnectorControllerResources.SaveEntitiesHeadingText</h3>
    <div>
        @Html.DisplayFor(model => model, "TalliedConnectorStatisticsConfiguration")
        @Html.DisplayFor(model => model, "ConnectorStatisticsConfiguration")
    </div>
</div>