@using Unify.Connect.Web
@model CSVConnectorViewInformation

<table class="RightSpaced BottomSpaced VerticalAlignTable">
    @if (!Model.Local)
    {
        <tr>
            <td>
                @ConnectorControllerResources.CSVConnectorFTPAgentIdLabel
            </td>
            <td>
                @Html.ConnectorAgentLinkFor(Model.AgentId)
            </td>
        </tr>
    }
    <tr>
        <td>@ConnectorControllerResources.CSVConnectorPathLabel</td>
        <td>@Model.FilePath</td>
    </tr>
</table>