<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" / -->
  </configSections>
  <appSettings>
    <add key="entityContextAddress" value="http://localhost:59990/IdentityBroker/EntityContext.wcf"/>
    <add key="entityChangesContextAddress" value="http://localhost:59990/IdentityBroker/EntityChangesContext.wcf"/>
  </appSettings>
  <!-- microsoft.web.services3>
		<security>
			<x509 revocationMode="NoCheck" verifyTrust="true" />
		</security>
		<policy fileName="wse3policyCache.config" />
	</microsoft.web.services3 -->


<!--Verbose-->
  <!--<system.diagnostics>
  <sources>
    <source name="System.ServiceModel"
        switchValue="Information, ActivityTracing"
        propagateActivity="true" >
      <listeners>
        <add name="xml"/>
      </listeners>
    </source>
    <source name="System.ServiceModel.MessageLogging" switchValue="Information">
      <listeners>
        <add name="xml"/>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="xml"
        type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Program Files\UNIFY Solutions\Identity Broker\Services\Logs\Verbose.svclog" />
  </sharedListeners>
  <trace autoflush="true"/>
  </system.diagnostics>-->

	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\logs\Traces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="C:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <!-- The following service model configuration is suitable for unsecured connections.-->
  <system.serviceModel>
  <diagnostics>
    <messageLogging
        logMessagesAtTransportLevel="true"
        logMessagesAtServiceLevel="true"
        logMalformedMessages="true"
        logEntireMessage="true"
        maxSizeOfMessageToLog="65535000"
        maxMessagesToLog="3000" />
  </diagnostics>
    <services>
      <service name="Unify.Product.IdentityBroker.IdentityServiceCollector" behaviorConfiguration="IdentityBrokerBehaviours" >
        <endpoint contract="Unify.Product.IdentityBroker.IIdentityServiceCollector" binding="basicHttpBinding"
						  address=""  bindingConfiguration="StreamingFileTransferServicesBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/IdentityBrokerManagementStudio.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Product.IdentityBroker.CompliantLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/CompliantLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Product.IdentityBroker.FIMLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/FIMLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Framework.Linq.Communication.Wcf.ServerQueryWcfHandler" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Framework.Linq.IQueryRemoteHandler" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
      </service>
      <service name="Unify.Product.IdentityBroker.ChangesAvailableAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.IChangesAvailableCollector" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/ChangesAvailable.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IdentityBrokerBehaviours">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamingFileTransferServicesBinding" transferMode="StreamedResponse" maxBufferSize="20000000" maxReceivedMessageSize="2147483647" sendTimeout="10:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			<security mode="None">
				<transport clientCredentialType="None" />
			</security>
        </binding>
        <binding name="FimService_Binding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="StreamedResponse"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
              <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
	<client>
		<endpoint address="https://int.phris.org.au/PSIGW/PeopleSoftServiceListeningConnector"
          binding="basicHttpBinding" bindingConfiguration="FimService_Binding"
          contract="FimService_PortType" name="FimService_Port">
      </endpoint>
      <endpoint address="https://int.phris.org.au/PSIGW/PeopleSoftServiceListeningConnector"
          binding="basicHttpBinding" bindingConfiguration="FimService_Binding"
          contract="IdmService_PortType" name="IdmService_Port">
      </endpoint>
	</client>
  </system.serviceModel>

  <!-- The following service model configuration is suitable for secured connections.
		If you wish to use SSL, uncomment the sections below.  Ensure hostname is the DN entry for the service host (localhost will not work).
		Change the certificate binding to that appropriate for your system.-->
  <!--<system.serviceModel>
		<services>
			<service name="Unify.Product.IdentityBroker.IdentityServiceCollector" behaviorConfiguration="IdentityBrokerBehaviours" >
				<endpoint contract="Unify.Product.IdentityBroker.IIdentityBrokerEngineNotificationCollector" binding="basicHttpBinding"
						  address=""  bindingConfiguration="StreamingFileTransferServicesBinding">
					<identity>
						<certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
					</identity>
				</endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/IdentityBrokerManagementStudio.svc"/>
          </baseAddresses>
        </host>
			</service>
			<service name="Unify.Product.IdentityBroker.CompliantLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
				<endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
					<identity>
						<certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
					</identity>
				</endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/CompliantLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
			</service>
      	<service name="Unify.Product.IdentityBroker.FIMLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
				<endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
					<identity>
						<certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
					</identity>
				</endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/FIMLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
			</service>
			<service name="Unify.Framework.Linq.Communication.Wcf.ServerQueryWcfHandler" behaviorConfiguration="IdentityBrokerBehaviours" >
				<endpoint contract="Unify.Framework.Linq.IQueryRemoteHandler" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
					<identity>
						<certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
					</identity>
				</endpoint>
			</service>
			<service name="Unify.Product.IdentityBroker.ChangesAvailableAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
				<endpoint contract="Unify.Product.IdentityBroker.IChangesAvailableCollector" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding" >
					<identity>
						<certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
					</identity>
				</endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/ChangesAvailable.svc"/>
          </baseAddresses>
        </host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="IdentityBrokerBehaviours" >
					<serviceMetadata httpsGetEnabled="true" />
				</behavior>
				<behavior name="returnFaults" >
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="StreamingFileTransferServicesBinding"
						 transferMode="StreamedResponse"
						 maxBufferSize="65536"
						 maxReceivedMessageSize="204003200"
						sendTimeout="10:00:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>-->
</configuration>
