@using Unify.Connect.Web
@model PowerShellConnectorViewInformation

<table class="RightSpaced BottomSpaced VerticalAlignTable">
    <tr>
        <td>@ConnectorControllerResources.PowerShellConnectorPollingTypeLabel</td>
        <td>@Model.PollingType.ToString()</td>
    </tr>
</table>