<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransformXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TransformXMLSoln.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TransformXML.Properties.Settings>
            <setting name="XmlFilePath" serializeAs="String">
                <value>E:\Scripts\Output\</value>
            </setting>
            <setting name="XslFileName" serializeAs="String">
                <value>*.xsl*</value>
            </setting>
            <setting name="XslFilePath" serializeAs="String">
                <value>E:\Scripts\Output\Transforms\</value>
            </setting>
        </TransformXML.Properties.Settings>
        <TransformXMLSoln.Properties.Settings>
            <setting name="XmlFilePath" serializeAs="String">
                <value>C:\Program Files\Microsoft Forefront Identity Manager\2010\Synchronization Service\MaData\</value>
            </setting>
            <setting name="XslFileName" serializeAs="String">
                <value>PendingExports.xsl</value>
            </setting>
        </TransformXMLSoln.Properties.Settings>
    </applicationSettings>
</configuration>