@using Unify.Connect.Web.Extensions
@using Unify.Product.IdentityBroker
@model IAdapterEntityTransformationGeneratorDescription
           
<div align="left" style="min-width: 20em;">  
    <div>
        @Model.TransformationDescription
    </div>
    <br/>
</div>