@using Unify.Connect.Web.Extensions
@model AdapterStatisticsInsertJobViewInformation
<h3>@AdapterResources.AddEntitiesHeadingText</h3>
<div>
    @Html.DisplayFor(model => model, "TalliedAdapterStatisticsConfiguration")
    @Html.DisplayFor(model => model, "AdapterStatisticsConfiguration")
</div>