@using Unify.Connect.Web.Extensions
@model AdapterStatisticsDeleteJobViewInformation
<h3>@AdapterResources.DeleteEntitiesHeadingText</h3>
<div>
    @Html.DisplayFor(model => model, "TalliedAdapterStatisticsConfiguration")
    @Html.DisplayFor(model => model, "AdapterStatisticsConfiguration")
</div>