@using Unify.Connect.Web.Extensions
@model AdapterStatisticsImportAllJobViewInformation
<h3>@AdapterResources.ImportHeadingText</h3>
<div>
    @Html.DisplayFor(model => model, "TalliedAdapterStatisticsConfiguration")
    @Html.DisplayFor(model => model, "AdapterStatisticsConfiguration")
</div>