@model Unify.Product.IdentityBroker.AdapterEntityTransformationGeneratorDescription

<div align="left" style="min-width: 20em;">
    <div>
        @Model.TransformationDescription
    </div>
    <br/>
</div>