@using Unify.Connect.Web
@using Unify.Connect.Web.Extensions
@model DefaultAgentViewInformation

<table>
    <tr>
        
        <td>
            @AgentResources.AgentExtendedConfigurationLabel
        </td>
        
        <td style="padding:1em;">
            @Model.ExtendedConfiguration
        </td>

    </tr>
</table>