<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetADStuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GetADStuff.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>XML</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>C:\\Users\\bob.bradley.tst\\Documents\\Visual Studio 2008\\Projects\\GetADStuff\\Groups.</value>
            </setting>
            <setting name="LdapRoot" serializeAs="String">
                <value>LDAP://dbb.local/OU=Groups,DC=dbb,DC=local</value>
            </setting>
            <setting name="LdapQuery" serializeAs="String">
                <value>(&amp;(objectCategory=group)(objectClass=group))</value>
            </setting>
            <setting name="LdapProperties" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>info</string>
                        <string>description</string>
                        <string>cn</string>
                        <string>sAMAccountName</string>
                        <string>distinguishedName</string>
                    </ArrayOfString>
                </value>
            </setting>
        </GetADStuff.Properties.Settings>
    </applicationSettings>
</configuration>