@using Unify.Connect.Web
@using Unify.Connect.Web.Extensions
@model ForeignMultiValueGroupTransformationViewInformation

@{
    string source = string.Format("Value: \"{0}\"", Model.GenerateDistinguishedNames ? Model.Template : Model.Source);
    string distinct = Model.Distinct ? AdapterResources.DistinctLabel : String.Empty;
}

<div>
    WHERE [@Model.InputKey] IN [@Model.RelationKey]<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;@source -> <span class="TransformationAddedField">[@Model.GroupTarget]@distinct</span>"
</div>