@using Unify.Connect.Web
@model TimeOffsetFlagTransformationViewInformation

<div>
    
    <p>
        IF [@Model.Source] == NULL <br/>
        &nbsp;&nbsp;&nbsp;"@Model.NullValue" -> <span class="TransformationAddedField">[@Model.Target]</span>
    </p>
    
    <p>
        IF [@Model.Source] + [@Model.Offset] == @@NOW <br/>
        &nbsp;&nbsp;&nbsp;"@Model.EqualValue" -> <span class="TransformationAddedField">[@Model.Target]</span>
    </p>
    
    <p>
        IF [@Model.Source] + [@Model.Offset] < @@NOW <br/>
        &nbsp;&nbsp;&nbsp;"@Model.LessThanValue" -> <span class="TransformationAddedField">[@Model.Target]</span>
    </p>
    
    <p>
        IF [@Model.Source] + [@Model.Offset] > @@NOW <br/>
        &nbsp;&nbsp;&nbsp;"@Model.GreaterValue" -> <span class="TransformationAddedField">[@Model.Target]</span>
    </p>

</div>