@using Unify.Connect.Web
@using Unify.Connect.Web.Extensions
@using Unify.Framework.Web
@model DefaultTransformationViewInformation
           
@{ Html.RenderAction("CodeMirrorHeader", "Shared", new {area = "Framework"}); }

<style>
    form div {
        margin: 0 !important;
    }
    
    .CodeMirror-lines {
        margin-left: 22px !important;
    }
</style>

@using (Html.DecorateForm(
        () => Html.BeginForm("CreateOrEdit", "DefaultTransformation", new { area = "Extensibility" }, FormMethod.Post),
        TransformationResources.SaveTransformationButtonText,
        "SaveDefaultTransformationForm",
        TransformationResources.SaveTransformationButtonAltText
    ))
{
    
    @Html.TransformationDetailsFor(model => model)
    
    <fieldset>
        <legend>@AdapterResources.TransformationExtendedInformationLegendText</legend>
    </fieldset>
    
    <div>
        
        <div class="FormText">
            <p>A complete user-interface could not be located for this transformation type. This may be the intention of the developer for the transformation.</p>
            <br/>
            <p>Make sure that both the Web and Service components have been correctly installed and refer the respective documentation of the transformation for information about the configuration process.</p>
        </div>
        
        <br/>
        
        @Html.TextAreaFor(model => model.Extended, 10, 40, new{ id="code" })

    </div>
    
}

<script type="text/javascript">

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "application/xml",
        lineNumbers: true,
        onCursorActivity: function () {
            editor.setLineClass(hlLine, null);
            hlLine = editor.setLineClass(editor.getCursor().line, "activeline");
        }
    });

    var hlLine = editor.setLineClass(0, "activeline");
    
</script>