@using Unify.Connect.Web
@using Unify.Connect.Web.Extensions
@model DefaultTransformationViewInformation

<table>
    
    <tr>
        
        <td>
            @AdapterResources.TransformationExtendedConfigurationLabel
        </td>
        
        <td style="padding:1em">
            @Model.Extended
        </td>

    </tr>

</table>