@using Unify.Connect.Web
@model MergeCollectionsTransformationViewInformation

<div>
    @string.Join(" + ", Model.Sources.Select(value => string.Format("[{0}]", value))) -> <span class="TransformationAddedField">[@Model.Target]</span>
</div>