<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" / -->
  </configSections>
  <appSettings>
    <add key="entityContextAddress" value="http://localhost:59990/IdentityBroker/EntityContext.wcf"/>
    <add key="adapterEntityContextAddress" value="http://localhost:59990/IdentityBroker/AdapterEntityContext.wcf"/>
  </appSettings>
  <!-- microsoft.web.services3>
        <security>
            <x509 revocationMode="NoCheck" verifyTrust="true" />
        </security>
        <policy fileName="wse3policyCache.config" />
    </microsoft.web.services3 -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\log\Traces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="C:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management.Automation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dapper.StrongName" publicKeyToken="e3e8412083d25dd3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.50.5.0" newVersion="1.50.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unify.Framework.Data.Interfaces" publicKeyToken="84b9288cb2633de4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unify.Framework.PlugIn.Interfaces" publicKeyToken="84b9288cb2633de4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unify.Framework.Exception" publicKeyToken="84b9288cb2633de4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- The following service model configuration is suitable for unsecured connections.-->  
  <system.serviceModel>
    <services>
      <service name="Unify.Product.IdentityBroker.IdentityServiceCollector" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.IIdentityServiceCollector" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/IdentityBrokerManagementStudio.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Product.IdentityBroker.CompliantLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/CompliantLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Product.IdentityBroker.FIMLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/FIMLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Unify.Framework.Linq.Communication.Wcf.ServerQueryWcfHandler" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Framework.Linq.IQueryRemoteHandler" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
      </service>
      <service name="Unify.Product.IdentityBroker.ChangesAvailableAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours">
        <endpoint contract="Unify.Product.IdentityBroker.IChangesAvailableCollector" binding="basicHttpBinding" address="" bindingConfiguration="StreamingFileTransferServicesBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59990/IdentityBroker/ChangesAvailable.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IdentityBrokerBehaviours">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamingFileTransferServicesBinding" transferMode="StreamedResponse" maxBufferSize="65536" maxReceivedMessageSize="204003200" sendTimeout="10:00:00">
              <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        <security mode="TransportCredentialOnly"><transport clientCredentialType="Windows"/></security></binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <!-- The following service model configuration is suitable for secured connections.
        If you wish to use SSL, uncomment the sections below.  Ensure hostname is the DN entry for the service host (localhost will not work).
        Change the certificate binding to that appropriate for your system.-->
  <!--<system.serviceModel>
        <services>
            <service name="Unify.Product.IdentityBroker.IdentityServiceCollector" behaviorConfiguration="IdentityBrokerBehaviours" >
                <endpoint contract="Unify.Product.IdentityBroker.IIdentityBrokerEngineNotificationCollector" binding="basicHttpBinding"
                          address=""  bindingConfiguration="StreamingFileTransferServicesBinding">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
                    </identity>
                </endpoint>
                <host>
                  <baseAddresses>
                    <add baseAddress="https://hostname:59990/IdentityBroker/IdentityBrokerManagementStudio.svc"/>
                  </baseAddresses>
                </host>
            </service>
            <service name="Unify.Product.IdentityBroker.CompliantLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
                <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
                    </identity>
                </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/CompliantLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
            </service>
          <service name="Unify.Product.IdentityBroker.FIMLDIFAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
                <endpoint contract="Unify.Product.IdentityBroker.ILDIFAdapter" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
                    </identity>
                </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/FIMLDIFAdapter.svc"/>
          </baseAddresses>
        </host>
            </service>
            <service name="Unify.Framework.Linq.Communication.Wcf.ServerQueryWcfHandler" behaviorConfiguration="IdentityBrokerBehaviours" >
                <endpoint contract="Unify.Framework.Linq.IQueryRemoteHandler" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
                    </identity>
                </endpoint>
            </service>
            <service name="Unify.Product.IdentityBroker.ChangesAvailableAdapterServiceHostDecorator" behaviorConfiguration="IdentityBrokerBehaviours" >
                <endpoint contract="Unify.Product.IdentityBroker.IChangesAvailableCollector" binding="basicHttpBinding"
                  address="" bindingConfiguration="StreamingFileTransferServicesBinding" >
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="hostCertificate"/>
                    </identity>
                </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://hostname:59990/IdentityBroker/ChangesAvailable.svc"/>
          </baseAddresses>
        </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="IdentityBrokerBehaviours" >
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
                <behavior name="returnFaults" >
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="StreamingFileTransferServicesBinding"
                         transferMode="StreamedResponse"
                         maxBufferSize="65536"
                         maxReceivedMessageSize="204003200"
                        sendTimeout="10:00:00">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>-->
</configuration>
